/*** rt-icons-2 ***/
/**
* https://icomoon.io/
*/
@font-face {
    font-family: 'rt-icons-2';
    src:url('../fonts/rt-icons-2.eot?wz19bt');
    src:url('../fonts/rt-icons-2.eot?#iefixwz19bt') format('embedded-opentype'),
        url('../fonts/rt-icons-2.ttf?wz19bt') format('truetype'),
        url('../fonts/rt-icons-2.woff?wz19bt') format('woff'),
        url('../fonts/rt-icons-2.svg?wz19bt#rt-icons-2') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="rt-icon2-"], [class*=" rt-icon2-"] {
    font-family: 'rt-icons-2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    margin: 0 4px 0 0;
    text-transform: none;
    vertical-align: middle;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rt-icon2-mobile2:before {content: "\e000";}
.rt-icon2-laptop2:before {content: "\e001";}
.rt-icon2-desktop2:before {content: "\e002";}
.rt-icon2-tablet2:before {content: "\e003";}
.rt-icon2-phone2:before {content: "\e004";}
.rt-icon2-document:before {content: "\e005";}
.rt-icon2-calendar:before {content: "\e00d";}
.rt-icon2-picture:before {content: "\e00f";}
.rt-icon2-pictures:before {content: "\e010";}
.rt-icon2-video:before {content: "\e011";}
.rt-icon2-camera:before {content: "\e012";}
.rt-icon2-printer:before {content: "\e013";}
.rt-icon2-toolbox:before {content: "\e014";}
.rt-icon2-wallet:before {content: "\e016";}
.rt-icon2-gift:before {content: "\e017";}
.rt-icon2-hourglass:before {content: "\e01f";}
.rt-icon2-lock:before {content: "\e020";}
.rt-icon2-megaphone:before {content: "\e021";}
.rt-icon2-telescope:before {content: "\e02a";}
.rt-icon2-gears:before {content: "\e02b";}
.rt-icon2-key:before {content: "\e02c";}
.rt-icon2-attachment:before {content: "\e02e";}
.rt-icon2-pricetags:before {content: "\e02f";}
.rt-icon2-lightbulb:before {content: "\e030";}
.rt-icon2-layers:before {content: "\e031";}
.rt-icon2-pencil:before {content: "\e032";}
.rt-icon2-tools:before {content: "\e033";}
.rt-icon2-tools-2:before {content: "\e034";}
.rt-icon2-paintbrush:before {content: "\e036";}
.rt-icon2-magnifying-glass:before {content: "\e037";}
.rt-icon2-beaker:before {content: "\e03c";}
.rt-icon2-wine:before {content: "\e043";}
.rt-icon2-globe:before {content: "\e045";}
.rt-icon2-map-pin:before {content: "\e047";}
.rt-icon2-upload:before {content: "\e04c";}
.rt-icon2-download:before {content: "\e04d";}
.rt-icon2-global:before {content: "\e052";}
.rt-icon2-compass:before {content: "\e053";}
.rt-icon2-quote:before {content: "\e600";}
.rt-icon2-quote2:before {content: "\e601";}
.rt-icon2-tag:before {content: "\e602";}
.rt-icon2-link:before {content: "\e603";}
.rt-icon2-cabinet:before {content: "\e604";}
.rt-icon2-calendar2:before {content: "\e605";}
.rt-icon2-calendar3:before {content: "\e606";}
.rt-icon2-file:before {content: "\e607";}
.rt-icon2-phone3:before {content: "\e608";}
.rt-icon2-tablet3:before {content: "\e609";}
.rt-icon2-window:before {content: "\e60a";}
.rt-icon2-monitor:before {content: "\e60b";}
.rt-icon2-ipod:before {content: "\e60c";}
.rt-icon2-tv:before {content: "\e60d";}
.rt-icon2-film2:before {content: "\e60e";}
.rt-icon2-microphone:before {content: "\e60f";}
.rt-icon2-drink:before {content: "\e610";}
.rt-icon2-drink2:before {content: "\e611";}
.rt-icon2-drink3:before {content: "\e612";}
.rt-icon2-coffee2:before {content: "\e613";}
.rt-icon2-mug:before {content: "\e614";}
.rt-icon2-icecream:before {content: "\e615";}
.rt-icon2-cake2:before {content: "\e616";}
.rt-icon2-checkmark:before {content: "\e617";}
.rt-icon2-cancel:before {content: "\e618";}
.rt-icon2-plus:before {content: "\e619";}
.rt-icon2-minus:before {content: "\e61a";}
.rt-icon2-cog2:before {content: "\e61b";}
.rt-icon2-health:before {content: "\e61c";}
.rt-icon2-suitcase2:before {content: "\e61d";}
.rt-icon2-suitcase3:before {content: "\e61e";}
.rt-icon2-picture2:before {content: "\e61f";}
.rt-icon2-time:before {content: "\e620";}
.rt-icon2-checkmark2:before {content: "\e621";}
.rt-icon2-cancel2:before {content: "\e622";}
.rt-icon2-upload2:before {content: "\e623";}
.rt-icon2-location:before {content: "\e624";}
.rt-icon2-download2:before {content: "\e625";}
.rt-icon2-basket:before {content: "\e626";}
.rt-icon2-gamepad:before {content: "\e627";}
.rt-icon2-phone4:before {content: "\e628";}
.rt-icon2-image:before {content: "\e629";}
.rt-icon2-map:before {content: "\e62a";}
.rt-icon2-trashcan:before {content: "\e62b";}
.rt-icon2-graduate:before {content: "\e62c";}
.rt-icon2-lab:before {content: "\e62d";}
.rt-icon2-tie:before {content: "\e62e";}
.rt-icon2-football:before {content: "\e62f";}
.rt-icon2-eightball:before {content: "\e630";}
.rt-icon2-bowling:before {content: "\e631";}
.rt-icon2-bowlingpin:before {content: "\e632";}
.rt-icon2-baseball:before {content: "\e633";}
.rt-icon2-soccer:before {content: "\e634";}
.rt-icon2-3dglasses:before {content: "\e635";}
.rt-icon2-microwave:before {content: "\e636";}
.rt-icon2-refrigerator:before {content: "\e637";}
.rt-icon2-oven:before {content: "\e638";}
.rt-icon2-washingmachine:before {content: "\e639";}
.rt-icon2-mouse:before {content: "\e63a";}
.rt-icon2-medal:before {content: "\e63b";}
.rt-icon2-magnifier:before {content: "\e63c";}
.rt-icon2-stack:before {content: "\e63d";}
.rt-icon2-stack2:before {content: "\e63e";}
.rt-icon2-stack3:before {content: "\e63f";}
.rt-icon2-pil:before {content: "\e640";}
.rt-icon2-injection:before {content: "\e641";}
.rt-icon2-thermometer:before {content: "\e642";}
.rt-icon2-library:before {content: "\e643";}
.rt-icon2-auction:before {content: "\e644";}
.rt-icon2-justice:before {content: "\e645";}
.rt-icon2-pencil2:before {content: "\e646";}
.rt-icon2-male:before {content: "\e647";}
.rt-icon2-female:before {content: "\e648";}
.rt-icon2-pictures2:before {content: "\e649";}
.rt-icon2-compass2:before {content: "\e64a";}
.rt-icon2-clipboard:before {content: "\e64b";}
.rt-icon2-ruler:before {content: "\e64c";}
.rt-icon2-heart:before {content: "\e64d";}
.rt-icon2-cloud:before {content: "\e64e";}
.rt-icon2-star:before {content: "\e64f";}
.rt-icon2-tv2:before {content: "\e650";}
.rt-icon2-sound:before {content: "\e651";}
.rt-icon2-video2:before {content: "\e652";}
.rt-icon2-trash:before {content: "\e653";}
.rt-icon2-user:before {content: "\e654";}
.rt-icon2-key2:before {content: "\e655";}
.rt-icon2-search2:before {content: "\e656";}
.rt-icon2-settings:before {content: "\e657";}
.rt-icon2-camera2:before {content: "\e658";}
.rt-icon2-tag2:before {content: "\e659";}
.rt-icon2-lock2:before {content: "\e65a";}
.rt-icon2-bulb:before {content: "\e65b";}
.rt-icon2-pen:before {content: "\e65c";}
.rt-icon2-diamond2:before {content: "\e65d";}
.rt-icon2-display:before {content: "\e65e";}
.rt-icon2-location2:before {content: "\e65f";}
.rt-icon2-eye:before {content: "\e660";}
.rt-icon2-bubble:before {content: "\e661";}
.rt-icon2-stack4:before {content: "\e662";}
.rt-icon2-cup:before {content: "\e663";}
.rt-icon2-phone5:before {content: "\e664";}
.rt-icon2-news:before {content: "\e665";}
.rt-icon2-mail:before {content: "\e666";}
.rt-icon2-like:before {content: "\e667";}
.rt-icon2-photo:before {content: "\e668";}
.rt-icon2-note:before {content: "\e669";}
.rt-icon2-clock:before {content: "\e66a";}
.rt-icon2-paperplane:before {content: "\e66b";}
.rt-icon2-params:before {content: "\e66c";}
.rt-icon2-banknote:before {content: "\e66d";}
.rt-icon2-data:before {content: "\e66e";}
.rt-icon2-music:before {content: "\e66f";}
.rt-icon2-megaphone2:before {content: "\e670";}
.rt-icon2-study:before {content: "\e671";}
.rt-icon2-lab2:before {content: "\e672";}
.rt-icon2-food:before {content: "\e673";}
.rt-icon2-t-shirt:before {content: "\e674";}
.rt-icon2-fire:before {content: "\e675";}
.rt-icon2-clip:before {content: "\e676";}
.rt-icon2-shop:before {content: "\e677";}
.rt-icon2-calendar4:before {content: "\e678";}
.rt-icon2-wallet2:before {content: "\e679";}
.rt-icon2-vynil:before {content: "\e67a";}
.rt-icon2-truck:before {content: "\e67b";}
.rt-icon2-world:before {content: "\e67c";}
.rt-icon2-sun:before {content: "\e67d";}
.rt-icon2-moon:before {content: "\e67e";}
.rt-icon2-cloudy:before {content: "\e67f";}
.rt-icon2-lightning:before {content: "\e680";}
.rt-icon2-rainy:before {content: "\e681";}
.rt-icon2-rainy2:before {content: "\e682";}
.rt-icon2-snowy:before {content: "\e683";}
.rt-icon2-snowy2:before {content: "\e684";}
.rt-icon2-weather:before {content: "\e685";}
.rt-icon2-store:before {content: "\e686";}
.rt-icon2-out:before {content: "\e687";}
.rt-icon2-in:before {content: "\e688";}
.rt-icon2-in-alt:before {content: "\e689";}
.rt-icon2-home:before {content: "\e68a";}
.rt-icon2-lightbulb2:before {content: "\e68b";}
.rt-icon2-anchor:before {content: "\e68c";}
.rt-icon2-feather:before {content: "\e68d";}
.rt-icon2-expand:before {content: "\e68e";}
.rt-icon2-maximize:before {content: "\e68f";}
.rt-icon2-search3:before {content: "\e690";}
.rt-icon2-add:before {content: "\e691";}
.rt-icon2-subtract:before {content: "\e692";}
.rt-icon2-close2:before {content: "\e693";}
.rt-icon2-book:before {content: "\e694";}
.rt-icon2-spinner:before {content: "\e695";}
.rt-icon2-play:before {content: "\e696";}
.rt-icon2-stop:before {content: "\e697";}
.rt-icon2-pause:before {content: "\e698";}
.rt-icon2-forward:before {content: "\e699";}
.rt-icon2-rewind:before {content: "\e69a";}
.rt-icon2-sound2:before {content: "\e69b";}
.rt-icon2-sound-alt:before {content: "\e69c";}
.rt-icon2-soundoff:before {content: "\e69d";}
.rt-icon2-inbox:before {content: "\e69e";}
.rt-icon2-inbox-alt:before {content: "\e69f";}
.rt-icon2-envelope:before {content: "\e6a0";}
.rt-icon2-compose:before {content: "\e6a1";}
.rt-icon2-newspaper-alt:before {content: "\e6a2";}
.rt-icon2-calendar5:before {content: "\e6a3";}
.rt-icon2-hyperlink:before {content: "\e6a4";}
.rt-icon2-trash2:before {content: "\e6a5";}
.rt-icon2-menu:before {content: "\e6a6";}
.rt-icon2-gallery:before {content: "\e6a7";}
.rt-icon2-calculator:before {content: "\e6a8";}
.rt-icon2-clock2:before {content: "\e6a9";}
.rt-icon2-portfolio:before {content: "\e6aa";}
.rt-icon2-user2:before {content: "\e6ab";}
.rt-icon2-users:before {content: "\e6ac";}
.rt-icon2-heart2:before {content: "\e6ad";}
.rt-icon2-chat:before {content: "\e6ae";}
.rt-icon2-comments:before {content: "\e6af";}
.rt-icon2-screen:before {content: "\e6b0";}
.rt-icon2-iphone:before {content: "\e6b1";}
.rt-icon2-instagram:before {content: "\e6b2";}
.rt-icon2-pin-alt:before {content: "\e6b3";}
.rt-icon2-camera3:before {content: "\e6b4";}
.rt-icon2-chevron-down:before {content: "\f0a3";}
.rt-icon2-chevron-left:before {content: "\f0a4";}
.rt-icon2-chevron-right:before {content: "\f078";}
.rt-icon2-chevron-up:before {content: "\f0a2";}
.rt-icon2-quote3:before {content: "\f063";}
.rt-icon2-search4:before {content: "\f02e";}
.rt-icon2-triangle-down:before {content: "\f05b";}
.rt-icon2-triangle-left:before {content: "\f044";}
.rt-icon2-triangle-right:before {content: "\f05a";}
.rt-icon2-triangle-up:before {content: "\f0aa";}
.rt-icon2-file-empty:before {content: "\e924";}
.rt-icon2-files-empty:before {content: "\e925";}
.rt-icon2-file-text2:before {content: "\e926";}
.rt-icon2-file-picture:before {content: "\e927";}
.rt-icon2-file-music:before {content: "\e928";}
.rt-icon2-file-play:before {content: "\e929";}
.rt-icon2-file-video:before {content: "\e92a";}
.rt-icon2-file-zip:before {content: "\e92b";}
.rt-icon2-phone6:before {content: "\e942";}
.rt-icon2-quotes-left:before {content: "\e977";}
.rt-icon2-quotes-right:before {content: "\e978";}
.rt-icon2-spinner6:before {content: "\e97f";}
.rt-icon2-magnet:before {content: "\e9ab";}
.rt-icon2-google:before {content: "\ea87";}
.rt-icon2-google-plus:before {content: "\ea88";}
.rt-icon2-google-plus2:before {content: "\ea89";}
.rt-icon2-google-plus3:before {content: "\ea8a";}
.rt-icon2-google-drive:before {content: "\ea8b";}
.rt-icon2-facebook:before {content: "\ea8c";}
.rt-icon2-facebook2:before {content: "\ea8d";}
.rt-icon2-facebook3:before {content: "\ea8e";}
.rt-icon2-instagram2:before {content: "\ea90";}
.rt-icon2-twitter:before {content: "\ea91";}
.rt-icon2-twitter2:before {content: "\ea92";}
.rt-icon2-twitter3:before {content: "\ea93";}
.rt-icon2-feed2:before {content: "\ea94";}
.rt-icon2-feed3:before {content: "\ea95";}
.rt-icon2-feed4:before {content: "\ea96";}
.rt-icon2-youtube5:before {content: "\ea97";}
.rt-icon2-youtube2:before {content: "\ea98";}
.rt-icon2-youtube3:before {content: "\ea99";}
.rt-icon2-youtube4:before {content: "\ea9a";}
.rt-icon2-vimeo:before {content: "\ea9c";}
.rt-icon2-vimeo2:before {content: "\ea9d";}
.rt-icon2-vimeo3:before {content: "\ea9e";}
.rt-icon2-lanyrd:before {content: "\ea9f";}
.rt-icon2-flickr:before {content: "\eaa0";}
.rt-icon2-flickr2:before {content: "\eaa1";}
.rt-icon2-flickr3:before {content: "\eaa2";}
.rt-icon2-flickr4:before {content: "\eaa3";}
.rt-icon2-picassa:before {content: "\eaa4";}
.rt-icon2-picassa2:before {content: "\eaa5";}
.rt-icon2-dribbble:before {content: "\eaa6";}
.rt-icon2-dribbble2:before {content: "\eaa7";}
.rt-icon2-dribbble3:before {content: "\eaa8";}
.rt-icon2-dropbox:before {content: "\eaaf";}
.rt-icon2-github3:before {content: "\eab3";}
.rt-icon2-wordpress:before {content: "\eab6";}
.rt-icon2-wordpress2:before {content: "\eab7";}
.rt-icon2-joomla:before {content: "\eab8";}
.rt-icon2-blogger:before {content: "\eab9";}
.rt-icon2-blogger2:before {content: "\eaba";}
.rt-icon2-tumblr:before {content: "\eabb";}
.rt-icon2-tumblr2:before {content: "\eabc";}
.rt-icon2-apple:before {content: "\eabf";}
.rt-icon2-android:before {content: "\eac1";}
.rt-icon2-windows:before {content: "\eac2";}
.rt-icon2-windows8:before {content: "\eac3";}
.rt-icon2-skype:before {content: "\eac6";}
.rt-icon2-reddit:before {content: "\eac7";}
.rt-icon2-linkedin:before {content: "\eac8";}
.rt-icon2-linkedin2:before {content: "\eac9";}
.rt-icon2-lastfm:before {content: "\eaca";}
.rt-icon2-lastfm2:before {content: "\eacb";}
.rt-icon2-delicious:before {content: "\eacc";}
.rt-icon2-stumbleupon:before {content: "\eacd";}
.rt-icon2-stumbleupon2:before {content: "\eace";}
.rt-icon2-pinterest:before {content: "\ead0";}
.rt-icon2-pinterest2:before {content: "\ead1";}
.rt-icon2-html5:before {content: "\eadf";}
.rt-icon2-html52:before {content: "\eae0";}
.rt-icon2-css3:before {content: "\eae1";}
.rt-icon2-chrome:before {content: "\eae5";}
.rt-icon2-firefox:before {content: "\eae6";}
.rt-icon2-IE:before {content: "\eae7";}
.rt-icon2-opera:before {content: "\eae8";}
.rt-icon2-safari:before {content: "\eae9";}
.rt-icon2-times2:before {content: "\e6b5";}
.rt-icon2-tick:before {content: "\e6b6";}
.rt-icon2-plus2:before {content: "\e6b7";}
.rt-icon2-minus2:before {content: "\e6b8";}
.rt-icon2-equals:before {content: "\e6b9";}
.rt-icon2-divide:before {content: "\e6ba";}
.rt-icon2-chevron-right2:before {content: "\e6bb";}
.rt-icon2-chevron-left2:before {content: "\e6bc";}
.rt-icon2-arrow-right-thick:before {content: "\e6bd";}
.rt-icon2-arrow-left-thick:before {content: "\e6be";}
.rt-icon2-home2:before {content: "\e6bf";}
.rt-icon2-arrow-forward:before {content: "\e6c0";}
.rt-icon2-arrow-back:before {content: "\e6c1";}
.rt-icon2-link2:before {content: "\e6c2";}
.rt-icon2-image2:before {content: "\e6c3";}
.rt-icon2-delete-outline:before {content: "\e6c4";}
.rt-icon2-cloud-storage:before {content: "\e6c5";}
.rt-icon2-heart3:before {content: "\e6c6";}
.rt-icon2-attachment2:before {content: "\e6c7";}
.rt-icon2-media-pause:before {content: "\e6c8";}
.rt-icon2-group:before {content: "\e6c9";}
.rt-icon2-chart-pie:before {content: "\e6ca";}
.rt-icon2-chart-line:before {content: "\e6cb";}
.rt-icon2-chart-bar:before {content: "\e6cc";}
.rt-icon2-chart-area:before {content: "\e6cd";}
.rt-icon2-globe2:before {content: "\e6ce";}
.rt-icon2-eye2:before {content: "\e6cf";}
.rt-icon2-cog3:before {content: "\e6d0";}
.rt-icon2-camera4:before {content: "\e6d1";}
.rt-icon2-refresh:before {content: "\e6d2";}
.rt-icon2-info-large:before {content: "\e6d3";}
.rt-icon2-zoom:before {content: "\e6d4";}
.rt-icon2-zoom-out:before {content: "\e6d5";}
.rt-icon2-zoom-in:before {content: "\e6d6";}
.rt-icon2-sort-numerically:before {content: "\e6d7";}
.rt-icon2-sort-alphabetically:before {content: "\e6d8";}
.rt-icon2-input-checked:before {content: "\e6d9";}
.rt-icon2-calender:before {content: "\e6da";}
.rt-icon2-spanner:before {content: "\e6db";}
.rt-icon2-phone7:before {content: "\e6dc";}
.rt-icon2-media-rewind:before {content: "\e6dd";}
.rt-icon2-adjust-brightness:before {content: "\e6de";}
.rt-icon2-waves:before {content: "\e6df";}
.rt-icon2-social-twitter:before {content: "\e6e0";}
.rt-icon2-social-facebook:before {content: "\e6e1";}
.rt-icon2-social-dribbble:before {content: "\e6e2";}
.rt-icon2-media-stop:before {content: "\e6e3";}
.rt-icon2-media-record:before {content: "\e6e4";}
.rt-icon2-media-play:before {content: "\e6e5";}
.rt-icon2-media-fast-forward:before {content: "\e6e6";}
.rt-icon2-media-eject:before {content: "\e6e7";}
.rt-icon2-social-vimeo:before {content: "\e6e8";}
.rt-icon2-social-tumbler:before {content: "\e6e9";}
.rt-icon2-social-skype:before {content: "\e6ea";}
.rt-icon2-social-pinterest:before {content: "\e6eb";}
.rt-icon2-social-linkedin:before {content: "\e6ec";}
.rt-icon2-social-last-fm:before {content: "\e6ed";}
.rt-icon2-social-github:before {content: "\e6ee";}
.rt-icon2-social-flickr:before {content: "\e6ef";}
.rt-icon2-at:before {content: "\e6f0";}
.rt-icon2-times-outline:before {content: "\e6f1";}
.rt-icon2-plus-outline:before {content: "\e6f2";}
.rt-icon2-minus-outline:before {content: "\e6f3";}
.rt-icon2-tick-outline:before {content: "\e6f4";}
.rt-icon2-th-large-outline:before {content: "\e6f5";}
.rt-icon2-equals-outline:before {content: "\e6f6";}
.rt-icon2-divide-outline:before {content: "\e6f7";}
.rt-icon2-chevron-right-outline:before {content: "\e6f8";}
.rt-icon2-chevron-left-outline:before {content: "\e6f9";}
.rt-icon2-arrow-right-outline:before {content: "\e6fa";}
.rt-icon2-arrow-left-outline:before {content: "\e6fb";}
.rt-icon2-th-small-outline:before {content: "\e6fc";}
.rt-icon2-th-menu-outline:before {content: "\e6fd";}
.rt-icon2-th-list-outline:before {content: "\e6fe";}
.rt-icon2-home-outline:before {content: "\e6ff";}
.rt-icon2-arrow-up-outline:before {content: "\e700";}
.rt-icon2-arrow-forward-outline:before {content: "\e701";}
.rt-icon2-arrow-down-outline:before {content: "\e702";}
.rt-icon2-arrow-back-outline:before {content: "\e703";}
.rt-icon2-trash3:before {content: "\e704";}
.rt-icon2-rss-outline:before {content: "\e705";}
.rt-icon2-message:before {content: "\e706";}
.rt-icon2-location-outline:before {content: "\e707";}
.rt-icon2-link-outline:before {content: "\e708";}
.rt-icon2-image-outline:before {content: "\e709";}
.rt-icon2-export-outline:before {content: "\e70a";}
.rt-icon2-cross:before {content: "\e70b";}
.rt-icon2-wi-fi-outline:before {content: "\e70c";}
.rt-icon2-star-outline:before {content: "\e70d";}
.rt-icon2-media-pause-outline:before {content: "\e70e";}
.rt-icon2-mail2:before {content: "\e70f";}
.rt-icon2-heart-outline:before {content: "\e710";}
.rt-icon2-flash-outline:before {content: "\e711";}
.rt-icon2-cancel-outline:before {content: "\e712";}
.rt-icon2-arrow-move-outline:before {content: "\e713";}
.rt-icon2-watch:before {content: "\e714";}
.rt-icon2-warning-outline:before {content: "\e715";}
.rt-icon2-time2:before {content: "\e716";}
.rt-icon2-radar-outline:before {content: "\e717";}
.rt-icon2-lock-open-outline:before {content: "\e718";}
.rt-icon2-location-arrow-outline:before {content: "\e719";}
.rt-icon2-info-outline:before {content: "\e71a";}
.rt-icon2-backspace-outline:before {content: "\e71b";}
.rt-icon2-attachment-outline:before {content: "\e71c";}
.rt-icon2-user-outline:before {content: "\e71d";}
.rt-icon2-user-delete-outline:before {content: "\e71e";}
.rt-icon2-user-add-outline:before {content: "\e71f";}
.rt-icon2-lock-closed-outline:before {content: "\e720";}
.rt-icon2-group-outline:before {content: "\e721";}
.rt-icon2-chart-pie-outline:before {content: "\e722";}
.rt-icon2-chart-line-outline:before {content: "\e723";}
.rt-icon2-chart-bar-outline:before {content: "\e724";}
.rt-icon2-chart-area-outline:before {content: "\e725";}
.rt-icon2-video-outline:before {content: "\e726";}
.rt-icon2-point-of-interest-outline:before {content: "\e727";}
.rt-icon2-map2:before {content: "\e728";}
.rt-icon2-key-outline:before {content: "\e729";}
.rt-icon2-infinity-outline:before {content: "\e72a";}
.rt-icon2-globe-outline:before {content: "\e72b";}
.rt-icon2-eye-outline:before {content: "\e72c";}
.rt-icon2-cog-outline:before {content: "\e72d";}
.rt-icon2-camera-outline:before {content: "\e72e";}
.rt-icon2-support:before {content: "\e72f";}
.rt-icon2-scissors-outline:before {content: "\e730";}
.rt-icon2-refresh-outline:before {content: "\e731";}
.rt-icon2-info-large-outline:before {content: "\e732";}
.rt-icon2-download-outline:before {content: "\e733";}
.rt-icon2-battery-low:before {content: "\e734";}
.rt-icon2-zoom-outline:before {content: "\e735";}
.rt-icon2-zoom-out-outline:before {content: "\e736";}
.rt-icon2-zoom-in-outline:before {content: "\e737";}
.rt-icon2-tag3:before {content: "\e738";}
.rt-icon2-tabs-outline:before {content: "\e739";}
.rt-icon2-pin-outline:before {content: "\e73a";}
.rt-icon2-message-typing:before {content: "\e73b";}
.rt-icon2-directions:before {content: "\e73c";}
.rt-icon2-battery-full:before {content: "\e73d";}
.rt-icon2-battery-charge:before {content: "\e73e";}
.rt-icon2-pencil3:before {content: "\e73f";}
.rt-icon2-folder:before {content: "\e740";}
.rt-icon2-folder-delete:before {content: "\e741";}
.rt-icon2-folder-add:before {content: "\e742";}
.rt-icon2-edit:before {content: "\e743";}
.rt-icon2-document2:before {content: "\e744";}
.rt-icon2-document-delete:before {content: "\e745";}
.rt-icon2-document-add:before {content: "\e746";}
.rt-icon2-brush:before {content: "\e747";}
.rt-icon2-thumbs-up:before {content: "\e748";}
.rt-icon2-thumbs-down:before {content: "\e749";}
.rt-icon2-pen2:before {content: "\e74a";}
.rt-icon2-sort-numerically-outline:before {content: "\e74b";}
.rt-icon2-sort-alphabetically-outline:before {content: "\e74c";}
.rt-icon2-social-last-fm-circular:before {content: "\e74d";}
.rt-icon2-social-github-circular:before {content: "\e74e";}
.rt-icon2-compass3:before {content: "\e74f";}
.rt-icon2-code-outline:before {content: "\e750";}
.rt-icon2-calender-outline:before {content: "\e751";}
.rt-icon2-business-card:before {content: "\e752";}
.rt-icon2-arrow-up:before {content: "\e753";}
.rt-icon2-arrow-right:before {content: "\e754";}
.rt-icon2-arrow-left:before {content: "\e755";}
.rt-icon2-document-text:before {content: "\e756";}
.rt-icon2-clipboard2:before {content: "\e757";}
.rt-icon2-calculator2:before {content: "\e758";}
.rt-icon2-arrow-minimise-outline:before {content: "\e759";}
.rt-icon2-arrow-maximise-outline:before {content: "\e75a";}
.rt-icon2-arrow-down:before {content: "\e75b";}
.rt-icon2-gift2:before {content: "\e75c";}
.rt-icon2-film3:before {content: "\e75d";}
.rt-icon2-bell:before {content: "\e75e";}
.rt-icon2-anchor-outline:before {content: "\e75f";}
.rt-icon2-world-outline:before {content: "\e760";}
.rt-icon2-shopping-bag:before {content: "\e761";}
.rt-icon2-power-outline:before {content: "\e762";}
.rt-icon2-notes-outline:before {content: "\e763";}
.rt-icon2-device-tablet:before {content: "\e764";}
.rt-icon2-device-phone:before {content: "\e765";}
.rt-icon2-device-laptop:before {content: "\e766";}
.rt-icon2-device-desktop:before {content: "\e767";}
.rt-icon2-briefcase:before {content: "\e768";}
.rt-icon2-stopwatch:before {content: "\e769";}
.rt-icon2-spanner-outline:before {content: "\e76a";}
.rt-icon2-puzzle-outline:before {content: "\e76b";}
.rt-icon2-printer2:before {content: "\e76c";}
.rt-icon2-lightbulb3:before {content: "\e76d";}
.rt-icon2-flag-outline:before {content: "\e76e";}
.rt-icon2-contacts:before {content: "\e76f";}
.rt-icon2-weather-stormy:before {content: "\e770";}
.rt-icon2-weather-shower:before {content: "\e771";}
.rt-icon2-weather-partly-sunny:before {content: "\e772";}
.rt-icon2-weather-downpour:before {content: "\e773";}
.rt-icon2-weather-cloudy:before {content: "\e774";}
.rt-icon2-plane-outline:before {content: "\e775";}
.rt-icon2-phone-outline:before {content: "\e776";}
.rt-icon2-microphone-outline:before {content: "\e777";}
.rt-icon2-weather-windy:before {content: "\e778";}
.rt-icon2-weather-windy-cloudy:before {content: "\e779";}
.rt-icon2-weather-sunny:before {content: "\e77a";}
.rt-icon2-weather-snow:before {content: "\e77b";}
.rt-icon2-weather-night:before {content: "\e77c";}
.rt-icon2-media-stop-outline:before {content: "\e77d";}
.rt-icon2-media-rewind-outline:before {content: "\e77e";}
.rt-icon2-media-record-outline:before {content: "\e77f";}
.rt-icon2-media-play-outline:before {content: "\e780";}
.rt-icon2-media-fast-forward-outline:before {content: "\e781";}
.rt-icon2-media-eject-outline:before {content: "\e782";}
.rt-icon2-wine2:before {content: "\e783";}
.rt-icon2-waves-outline:before {content: "\e784";}
.rt-icon2-ticket:before {content: "\e785";}
.rt-icon2-tags2:before {content: "\e786";}
.rt-icon2-plug:before {content: "\e787";}
.rt-icon2-headphones:before {content: "\e788";}
.rt-icon2-credit-card:before {content: "\e789";}
.rt-icon2-coffee3:before {content: "\e78a";}
.rt-icon2-book2:before {content: "\e78b";}
.rt-icon2-beer:before {content: "\e78c";}
.rt-icon2-volume:before {content: "\e78d";}
.rt-icon2-volume-up:before {content: "\e78e";}
.rt-icon2-volume-mute:before {content: "\e78f";}
.rt-icon2-volume-down:before {content: "\e790";}
.rt-icon2-social-vimeo-circular:before {content: "\e791";}
.rt-icon2-social-twitter-circular:before {content: "\e792";}
.rt-icon2-social-pinterest-circular:before {content: "\e793";}
.rt-icon2-social-linkedin-circular:before {content: "\e794";}
.rt-icon2-social-facebook-circular:before {content: "\e795";}
.rt-icon2-social-dribbble-circular:before {content: "\e796";}
.rt-icon2-tree:before {content: "\e797";}
.rt-icon2-thermometer2:before {content: "\e798";}
.rt-icon2-social-tumbler-circular:before {content: "\e799";}
.rt-icon2-social-skype-outline:before {content: "\e79a";}
.rt-icon2-social-flickr-circular:before {content: "\e79b";}
.rt-icon2-social-at-circular:before {content: "\e79c";}
.rt-icon2-shopping-cart:before {content: "\e79d";}
.rt-icon2-messages:before {content: "\e79e";}
.rt-icon2-leaf:before {content: "\e79f";}
.rt-icon2-feather2:before {content: "\e7a0";}
.rt-icon2-keyboard_arrow_down:before {content: "\e10f";}
.rt-icon2-keyboard_arrow_left:before {content: "\e110";}
.rt-icon2-keyboard_arrow_right:before {content: "\e111";}
.rt-icon2-keyboard_arrow_up:before {content: "\e112";}
.rt-icon2-directions_bus:before {content: "\e1ca";}
.rt-icon2-directions_car:before {content: "\e1cb";}
.rt-icon2-directions_ferry:before {content: "\e1cc";}
.rt-icon2-directions_subway:before {content: "\e1cd";}
.rt-icon2-directions_railway:before {content: "\e1ce";}
.rt-icon2-directions_walk:before {content: "\e1d0";}
.rt-icon2-flight:before {content: "\e1d1";}
.rt-icon2-restaurant_menu:before {content: "\e1f9";}
.rt-icon2-wifi:before {content: "\e242";}
.rt-icon2-cake:before {content: "\e243";}
.rt-icon2-favorite_outline:before {content: "\e292";}
.rt-icon2-lock_open:before {content: "\e2ac";}
.rt-icon2-lock_outline:before {content: "\e2ad";}
.rt-icon2-perm_identity:before {content: "\e2ba";}
.rt-icon2-search:before {content: "\e2ca";}
.rt-icon2-eye3:before {content: "\e006";}
.rt-icon2-paper-clip:before {content: "\e007";}
.rt-icon2-mail3:before {content: "\e008";}
.rt-icon2-image3:before {content: "\e015";}
.rt-icon2-clock3:before {content: "\e018";}
.rt-icon2-watch2:before {content: "\e019";}
.rt-icon2-camera5:before {content: "\e01a";}
.rt-icon2-video3:before {content: "\e01b";}
.rt-icon2-monitor2:before {content: "\e022";}
.rt-icon2-cog4:before {content: "\e023";}
.rt-icon2-heart4:before {content: "\e024";}
.rt-icon2-layers2:before {content: "\e035";}
.rt-icon2-paper:before {content: "\e038";}
.rt-icon2-search5:before {content: "\e039";}
.rt-icon2-microphone2:before {content: "\e048";}
.rt-icon2-umbrella2:before {content: "\e060";}
.rt-icon2-moon2:before {content: "\e061";}
.rt-icon2-thermometer3:before {content: "\e062";}
.rt-icon2-drop:before {content: "\e063";}
.rt-icon2-sun2:before {content: "\e064";}
.rt-icon2-cloud2:before {content: "\e065";}
.rt-icon2-map3:before {content: "\e072";}
.rt-icon2-head:before {content: "\e074";}
.rt-icon2-briefcase2:before {content: "\e075";}
.rt-icon2-speech-bubble:before {content: "\e076";}
.rt-icon2-globe3:before {content: "\e078";}
.rt-icon2-tag4:before {content: "\e085";}
.rt-icon2-star2:before {content: "\e093";}
.rt-icon2-plus3:before {content: "\e114";}
.rt-icon2-minus3:before {content: "\e115";}
.rt-icon2-check2:before {content: "\e116";}
.rt-icon2-cross2:before {content: "\e117";}
.rt-icon2-help:before {content: "\e127";}
.rt-icon2-files:before {content: "\e7a1";}
.rt-icon2-file2:before {content: "\e7a2";}
.rt-icon2-browser:before {content: "\e7a3";}
.rt-icon2-wifi-full:before {content: "\e7a4";}
.rt-icon2-microphone3:before {content: "\e7a5";}
.rt-icon2-trashcan2:before {content: "\e7a6";}
.rt-icon2-search6:before {content: "\e7a7";}
.rt-icon2-calendar6:before {content: "\e7a8";}
.rt-icon2-heart5:before {content: "\e7a9";}
.rt-icon2-star3:before {content: "\e7aa";}
.rt-icon2-clock4:before {content: "\e7ab";}
.rt-icon2-users2:before {content: "\e7ac";}
.rt-icon2-user3:before {content: "\e7ad";}
.rt-icon2-creditcards:before {content: "\e7ae";}
.rt-icon2-calculator3:before {content: "\e7af";}
.rt-icon2-bag:before {content: "\e7b0";}
.rt-icon2-diamond3:before {content: "\e7b1";}
.rt-icon2-drink4:before {content: "\e7b2";}
.rt-icon2-shorts:before {content: "\e7b3";}
.rt-icon2-coffee4:before {content: "\e7b4";}
.rt-icon2-map4:before {content: "\e7b5";}
.rt-icon2-syringe:before {content: "\e7b6";}
.rt-icon2-pill:before {content: "\e7b7";}
.rt-icon2-lab3:before {content: "\e7b8";}
.rt-icon2-mug2:before {content: "\e7b9";}
.rt-icon2-chart:before {content: "\e7ba";}
.rt-icon2-pencil4:before {content: "\e7bb";}
.rt-icon2-envelope-o:before {content: "\f003";}
.rt-icon2-star-o:before {content: "\f006";}
.rt-icon2-film:before {content: "\f008";}
.rt-icon2-check:before {content: "\f00c";}
.rt-icon2-close:before {content: "\f00d";}
.rt-icon2-remove:before {content: "\f00d";}
.rt-icon2-times:before {content: "\f00d";}
.rt-icon2-cog:before {content: "\f013";}
.rt-icon2-gear:before {content: "\f013";}
.rt-icon2-trash-o:before {content: "\f014";}
.rt-icon2-file-o:before {content: "\f016";}
.rt-icon2-clock-o:before {content: "\f017";}
.rt-icon2-tags:before {content: "\f02c";}
.rt-icon2-thumbs-o-up:before {content: "\f087";}
.rt-icon2-thumbs-o-down:before {content: "\f088";}
.rt-icon2-heart-o:before {content: "\f08a";}
.rt-icon2-phone:before {content: "\f095";}
.rt-icon2-umbrella:before {content: "\f0e9";}
.rt-icon2-lightbulb-o:before {content: "\f0eb";}
.rt-icon2-user-md:before {content: "\f0f0";}
.rt-icon2-stethoscope:before {content: "\f0f1";}
.rt-icon2-suitcase:before {content: "\f0f2";}
.rt-icon2-coffee:before {content: "\f0f4";}
.rt-icon2-cutlery:before {content: "\f0f5";}
.rt-icon2-file-text-o:before {content: "\f0f6";}
.rt-icon2-building-o:before {content: "\f0f7";}
.rt-icon2-hospital-o:before {content: "\f0f8";}
.rt-icon2-ambulance:before {content: "\f0f9";}
.rt-icon2-medkit:before {content: "\f0fa";}
.rt-icon2-angle-left:before {content: "\f104";}
.rt-icon2-angle-right:before {content: "\f105";}
.rt-icon2-angle-up:before {content: "\f106";}
.rt-icon2-angle-down:before {content: "\f107";}
.rt-icon2-desktop:before {content: "\f108";}
.rt-icon2-laptop:before {content: "\f109";}
.rt-icon2-tablet:before {content: "\f10a";}
.rt-icon2-mobile:before {content: "\f10b";}
.rt-icon2-mobile-phone:before {content: "\f10b";}
.rt-icon2-quote-left:before {content: "\f10d";}
.rt-icon2-quote-right:before {content: "\f10e";}
.rt-icon2-youtube:before {content: "\f167";}
.rt-icon2-file-pdf-o:before {content: "\f1c1";}
.rt-icon2-file-word-o:before {content: "\f1c2";}
.rt-icon2-file-excel-o:before {content: "\f1c3";}
.rt-icon2-file-powerpoint-o:before {content: "\f1c4";}
.rt-icon2-file-image-o:before {content: "\f1c5";}
.rt-icon2-file-photo-o:before {content: "\f1c5";}
.rt-icon2-file-picture-o:before {content: "\f1c5";}
.rt-icon2-file-archive-o:before {content: "\f1c6";}
.rt-icon2-file-zip-o:before {content: "\f1c6";}
.rt-icon2-file-audio-o:before {content: "\f1c7";}
.rt-icon2-file-sound-o:before {content: "\f1c7";}
.rt-icon2-file-movie-o:before {content: "\f1c8";}
.rt-icon2-file-video-o:before {content: "\f1c8";}
.rt-icon2-file-code-o:before {content: "\f1c9";}
.rt-icon2-paper-plane-o:before {content: "\f1d9";}
.rt-icon2-send-o:before {content: "\f1d9";}
.rt-icon2-futbol-o:before {content: "\f1e3";}
.rt-icon2-soccer-ball-o:before {content: "\f1e3";}
.rt-icon2-birthday-cake:before {content: "\f1fd";}
.rt-icon2-diamond:before {content: "\f219";}
.rt-icon2-whatsapp:before {content: "\f232";}
.rt-icon2-chevron-down2:before {content: "\e7bc";}
.rt-icon2-chevron-left3:before {content: "\e7bd";}
.rt-icon2-chevron-right3:before {content: "\e7be";}
.rt-icon2-chevron-small-down:before {content: "\e7bf";}
.rt-icon2-chevron-small-left:before {content: "\e7c0";}
.rt-icon2-chevron-small-right:before {content: "\e7c1";}
.rt-icon2-chevron-small-up:before {content: "\e7c2";}
.rt-icon2-chevron-thin-down:before {content: "\e7c3";}
.rt-icon2-chevron-thin-left:before {content: "\e7c4";}
.rt-icon2-chevron-thin-right:before {content: "\e7c5";}
.rt-icon2-chevron-thin-up:before {content: "\e7c6";}
.rt-icon2-chevron-up2:before {content: "\e7c7";}
.rt-icon2-code:before {content: "\e7c8";}
.rt-icon2-light-bulb:before {content: "\e7c9";}
.rt-icon2-magnifying-glass2:before {content: "\e7ca";}
.rt-icon2-map5:before {content: "\e7cb";}
.rt-icon2-scissors:before {content: "\e7cc";}
.rt-icon2-tools2:before {content: "\e7cd";}
.rt-icon2-box:before {content: "\e7ce";}
.rt-icon2-write:before {content: "\e7cf";}
.rt-icon2-clock5:before {content: "\e7d0";}
.rt-icon2-search7:before {content: "\e7d1";}
.rt-icon2-trash4:before {content: "\e7d2";}
.rt-icon2-envelope2:before {content: "\e7d3";}
.rt-icon2-bubble2:before {content: "\e7d4";}
.rt-icon2-camera6:before {content: "\e7d5";}
.rt-icon2-image4:before {content: "\e7d6";}
.rt-icon2-tag5:before {content: "\e7d7";}
.rt-icon2-heart6:before {content: "\e7d8";}
.rt-icon2-video-camera:before {content: "\e7d9";}
.rt-icon2-cart:before {content: "\e7da";}
.rt-icon2-film4:before {content: "\e7db";}
.rt-icon2-home3:before {content: "\e7dc";}




/*** social icons ***/
/**
* http://www.socicon.com
*/
@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.woff2') format('woff2'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

.soc-twitter:before {content: 'a'; }
.soc-facebook:before {content: 'b'; }
.soc-google:before {content: 'c'; }
.soc-pinterest:before {content: 'd'; }
.soc-foursquare:before {content: 'e'; }
.soc-yahoo:before {content: 'f'; }
.soc-skype:before {content: 'g'; }
.soc-yelp:before {content: 'h'; }
.soc-feedburner:before {content: 'i'; }
.soc-linkedin:before {content: 'j'; }
.soc-viadeo:before {content: 'k'; }
.soc-xing:before {content: 'l'; }
.soc-myspace:before {content: 'm'; }
.soc-soundcloud:before {content: 'n'; }
.soc-spotify:before {content: 'o'; }
.soc-grooveshark:before {content: 'p'; }
.soc-lastfm:before {content: 'q'; }
.soc-youtube:before {content: 'r'; }
.soc-vimeo:before {content: 's'; }
.soc-dailymotion:before {content: 't'; }
.soc-vine:before {content: 'u'; }
.soc-flickr:before {content: 'v'; }
.soc-500px:before {content: 'w'; }
.soc-instagram:before {content: 'x'; }
.soc-wordpress:before {content: 'y'; }
.soc-tumblr:before {content: 'z'; }
.soc-blogger:before {content: 'A'; }
.soc-technorati:before {content: 'B'; }
.soc-reddit:before {content: 'C'; }
.soc-dribbble:before {content: 'D'; }
.soc-stumbleupon:before {content: 'E'; }
.soc-digg:before {content: 'F'; }
.soc-envato:before {content: 'G'; }
.soc-behance:before {content: 'H'; }
.soc-delicious:before {content: 'I'; }
.soc-deviantart:before {content: 'J'; }
.soc-forrst:before {content: 'K'; }
.soc-play:before {content: 'L'; }
.soc-zerply:before {content: 'M'; }
.soc-wikipedia:before {content: 'N'; }
.soc-apple:before {content: 'O'; }
.soc-flattr:before {content: 'P'; }
.soc-github:before {content: 'Q'; }
.soc-chimein:before {content: 'R'; }
.soc-friendfeed:before {content: 'S'; }
.soc-newsvine:before {content: 'T'; }
.soc-identica:before {content: 'U'; }
.soc-bebo:before {content: 'V'; }
.soc-zynga:before {content: 'W'; }
.soc-steam:before {content: 'X'; }
.soc-xbox:before {content: 'Y'; }
.soc-windows:before {content: 'Z'; }
.soc-outlook:before {content: '1'; }
.soc-coderwall:before {content: '2'; }
.soc-tripadvisor:before {content: '3'; }
.soc-appnet:before {content: '4'; }
.soc-goodreads:before {content: '5'; }
.soc-tripit:before {content: '6'; }
.soc-lanyrd:before {content: '7'; }
.soc-slideshare:before {content: '8'; }
.soc-buffer:before {content: '9'; }
.soc-rss:before {content: ','; }
.soc-vkontakte:before {content: ';'; }
.soc-disqus:before {content: ':'; }
.soc-houzz:before {content: '+'; }
.soc-mail:before {content: '@'; }
.soc-patreon:before {content: '='; }
.soc-paypal:before {content: '-'; }
.soc-playstation:before {content: '^'; }
.soc-smugmug:before {content: '¨'; }
.soc-swarm:before {content: '$'; }
.soc-triplej:before {content: '*'; }
.soc-yammer:before {content: '&'; }
.soc-stackoverflow:before {content: '('; }
.soc-drupal:before {content: '#'; }
.soc-odnoklassniki:before {content: '/'; }
.soc-android:before {content: '_'; }
.soc-meetup:before {content: ']'; }
.soc-persona:before {content: ')'; }
.soc-amazon:before {content: '£'; }
.soc-ello:before {content: '\''; }
.soc-mixcloud:before {content: '"'; }
.soc-8tracks:before{content: '}'; }
.soc-twitch:before {content: '{'; }
.soc-airbnb:before {content: '/'; }
.soc-pocket:before {content: '?'; }


/*** fontello arrow icons ***/
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?81703720');
  src: url('../fonts/fontello.eot?81703720#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?81703720') format('woff'),
       url('../fonts/fontello.ttf?81703720') format('truetype'),
       url('../fonts/fontello.svg?81703720#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?81703720#fontello') format('svg');
  }
}
*/
 
 [class^="arrow-icon-"]:before, [class*=" arrow-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  text-shadow:none !important;
}
.arrow-icon-picture:before {content: '\e848';}
.arrow-icon-up-micro:before {content: '\e853';}
.arrow-icon-quote-right-1:before {content: '\e847';}
.arrow-icon-location:before {content: '\e849';}
.arrow-icon-down-dir:before {content: '\e84a';}
.arrow-icon-up-dir:before {content: '\e84b';}
.arrow-icon-left-dir:before {content: '\e83b';}
.arrow-icon-right-dir:before {content: '\e83a';}
.arrow-icon-down-open-3:before {content: '\e83c';}
.arrow-icon-left-open-4:before {content: '\e83d';}
.arrow-icon-right-open-4:before {content: '\e83e';}
.arrow-icon-up-open-3:before {content: '\e83f';}
.arrow-icon-angle-left:before {content: '\e840';}
.arrow-icon-angle-right:before {content: '\e841';}
.arrow-icon-angle-up:before {content: '\e842';}
.arrow-icon-angle-down:before {content: '\e843';}
.arrow-icon-angle-double-left:before {content: '\e844';}
.arrow-icon-angle-double-right:before {content: '\e845';}
.arrow-icon-angle-double-up:before {content: '\e84d';}
.arrow-icon-angle-double-down:before {content: '\e84c';}
.arrow-icon-plus-1:before {content: '\e838';}
.arrow-icon-minus-1:before {content: '\e839';}
.arrow-icon-down-open-2:before {content: '\e82a';}
.arrow-icon-left-open-3:before {content: '\e82b';}
.arrow-icon-right-open-3:before {content: '\e82c';}
.arrow-icon-up-open-2:before {content: '\e82d';}
.arrow-icon-down-open-mini:before {content: '\e82e';}
.arrow-icon-left-open-mini:before {content: '\e82f';}
.arrow-icon-right-open-mini:before {content: '\e830';}
.arrow-icon-up-open-mini:before {content: '\e831';}
.arrow-icon-down-open-big:before {content: '\e832';}
.arrow-icon-left-open-big:before {content: '\e833';}
.arrow-icon-right-open-big:before {content: '\e834';}
.arrow-icon-up-open-big:before {content: '\e835';}
.arrow-icon-left-thin:before {content: '\e837';}
.arrow-icon-right-thin:before {content: '\e836';}
.arrow-icon-left-open-outline:before {content: '\e81c';}
.arrow-icon-left-open-2:before {content: '\e81a';}
.arrow-icon-right-open-outline:before {content: '\e81d';}
.arrow-icon-right-open-2:before {content: '\e81b';}
.arrow-icon-down:before {content: '\e81e';}
.arrow-icon-left:before {content: '\e81f';}
.arrow-icon-quote-left-1:before {content: '\e846';}
.arrow-icon-up:before {content: '\e821';}
.arrow-icon-down-outline:before {content: '\e822';}
.arrow-icon-left-outline:before {content: '\e823';}
.arrow-icon-right-outline:before {content: '\e824';}
.arrow-icon-up-outline:before {content: '\e825';}
.arrow-icon-down-small:before {content: '\e826';}
.arrow-icon-left-small:before {content: '\e827';}
.arrow-icon-right-small:before {content: '\e828';}
.arrow-icon-up-small:before {content: '\e829';}
.arrow-icon-plus:before {content: '\e806';}
.arrow-icon-minus:before {content: '\e807';}
.arrow-icon-quote-left:before {content: '\e808';}
.arrow-icon-quote-right:before {content: '\e809';}
.arrow-icon-quote-left-alt:before {content: '\e818';}
.arrow-icon-quote-right-alt:before {content: '\e819';}
.arrow-icon-down-open-1:before {content: '\e800';}
.arrow-icon-left-open:before {content: '\e801';}
.arrow-icon-right-open:before {content: '\e80a';}
.arrow-icon-up-open-1:before {content: '\e80b';}
.arrow-icon-down-1:before {content: '\e80e';}
.arrow-icon-left-1:before {content: '\e80c';}
.arrow-icon-right-1:before {content: '\e80d';}
.arrow-icon-up-1:before {content: '\e80f';}
.arrow-icon-down-bold:before {content: '\e810';}
.arrow-icon-left-bold:before {content: '\e811';}
.arrow-icon-right-bold:before {content: '\e812';}
.arrow-icon-up-bold:before {content: '\e813';}
.arrow-icon-down-fat:before {content: '\e814';}
.arrow-icon-left-fat:before {content: '\e815';}
.arrow-icon-right-fat:before {content: '\e816';}
.arrow-icon-up-fat:before {content: '\e817';}
.arrow-icon-plus-2:before {content: '\e84e';}
.arrow-icon-minus-2:before {content: '\e84f';}
.arrow-icon-quote:before {content: '\e850';}
.arrow-icon-quote-circled:before {content: '\e851';}
.arrow-icon-down-open:before {content: '\e802';}
.arrow-icon-left-open-1:before {content: '\e803';}
.arrow-icon-right-open-1:before {content: '\e804';}
.arrow-icon-up-open:before {content: '\e805';}
.arrow-icon-down-micro:before {content: '\e852';}
.arrow-icon-right:before {content: '\e820';}


/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), 
  url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), 
  url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), 
  url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-family: 'FontAwesome' !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {content: "\f000";}
.fa-music:before {content: "\f001";}
.fa-search:before {content: "\f002";}
.fa-envelope-o:before {content: "\f003";}
.fa-heart:before {content: "\f004";}
.fa-star:before {content: "\f005";}
.fa-star-o:before {content: "\f006";}
.fa-user:before {content: "\f007";}
.fa-film:before {content: "\f008";}
.fa-th-large:before {content: "\f009";}
.fa-th:before {content: "\f00a";}
.fa-th-list:before {content: "\f00b";}
.fa-check:before {content: "\f00c";}
.fa-remove:before,
.fa-close:before,
.fa-times:before {content: "\f00d";}
.fa-search-plus:before {content: "\f00e";}
.fa-search-minus:before {content: "\f010";}
.fa-power-off:before {content: "\f011";}
.fa-signal:before {content: "\f012";}
.fa-gear:before,
.fa-cog:before {content: "\f013";}
.fa-trash-o:before {content: "\f014";}
.fa-home:before {content: "\f015";}
.fa-file-o:before {content: "\f016";}
.fa-clock-o:before {content: "\f017";}
.fa-road:before {content: "\f018";}
.fa-download:before {content: "\f019";}
.fa-arrow-circle-o-down:before {content: "\f01a";}
.fa-arrow-circle-o-up:before {content: "\f01b";}
.fa-inbox:before {content: "\f01c";}
.fa-play-circle-o:before {content: "\f01d";}
.fa-rotate-right:before,
.fa-repeat:before {content: "\f01e";}
.fa-refresh:before {content: "\f021";}
.fa-list-alt:before {content: "\f022";}
.fa-lock:before {content: "\f023";}
.fa-flag:before {content: "\f024";}
.fa-headphones:before {content: "\f025";}
.fa-volume-off:before {content: "\f026";}
.fa-volume-down:before {content: "\f027";}
.fa-volume-up:before {content: "\f028";}
.fa-qrcode:before {content: "\f029";}
.fa-barcode:before {content: "\f02a";}
.fa-tag:before {content: "\f02b";}
.fa-tags:before {content: "\f02c";}
.fa-book:before {content: "\f02d";}
.fa-bookmark:before {content: "\f02e";}
.fa-print:before {content: "\f02f";}
.fa-camera:before {content: "\f030";}
.fa-font:before {content: "\f031";}
.fa-bold:before {content: "\f032";}
.fa-italic:before {content: "\f033";}
.fa-text-height:before {content: "\f034";}
.fa-text-width:before {content: "\f035";}
.fa-align-left:before {content: "\f036";}
.fa-align-center:before {content: "\f037";}
.fa-align-right:before {content: "\f038";}
.fa-align-justify:before {content: "\f039";}
.fa-list:before {content: "\f03a";}
.fa-dedent:before,
.fa-outdent:before {content: "\f03b";}
.fa-indent:before {content: "\f03c";}
.fa-video-camera:before {content: "\f03d";}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {content: "\f03e";}
.fa-pencil:before {content: "\f040";}
.fa-map-marker:before {content: "\f041";}
.fa-adjust:before {content: "\f042";}
.fa-tint:before {content: "\f043";}
.fa-edit:before,
.fa-pencil-square-o:before {content: "\f044";}
.fa-share-square-o:before {content: "\f045";}
.fa-check-square-o:before {content: "\f046";}
.fa-arrows:before {content: "\f047";}
.fa-step-backward:before {content: "\f048";}
.fa-fast-backward:before {content: "\f049";}
.fa-backward:before {content: "\f04a";}
.fa-play:before {content: "\f04b";}
.fa-pause:before {content: "\f04c";}
.fa-stop:before {content: "\f04d";}
.fa-forward:before {content: "\f04e";}
.fa-fast-forward:before {content: "\f050";}
.fa-step-forward:before {content: "\f051";}
.fa-eject:before {content: "\f052";}
.fa-chevron-left:before {content: "\f053";}
.fa-chevron-right:before {content: "\f054";}
.fa-plus-circle:before {content: "\f055";}
.fa-minus-circle:before {content: "\f056";}
.fa-times-circle:before {content: "\f057";}
.fa-check-circle:before {content: "\f058";}
.fa-question-circle:before {content: "\f059";}
.fa-info-circle:before {content: "\f05a";}
.fa-crosshairs:before {content: "\f05b";}
.fa-times-circle-o:before {content: "\f05c";}
.fa-check-circle-o:before {content: "\f05d";}
.fa-ban:before {content: "\f05e";}
.fa-arrow-left:before {content: "\f060";}
.fa-arrow-right:before {content: "\f061";}
.fa-arrow-up:before {content: "\f062";}
.fa-arrow-down:before {content: "\f063";}
.fa-mail-forward:before,
.fa-share:before {content: "\f064";}
.fa-expand:before {content: "\f065";}
.fa-compress:before {content: "\f066";}
.fa-plus:before {content: "\f067";}
.fa-minus:before {content: "\f068";}
.fa-asterisk:before {content: "\f069";}
.fa-exclamation-circle:before {content: "\f06a";}
.fa-gift:before {content: "\f06b";}
.fa-leaf:before {content: "\f06c";}
.fa-fire:before {content: "\f06d";}
.fa-eye:before {content: "\f06e";}
.fa-eye-slash:before {content: "\f070";}
.fa-warning:before,
.fa-exclamation-triangle:before {content: "\f071";}
.fa-plane:before {content: "\f072";}
.fa-calendar:before {content: "\f073";}
.fa-random:before {content: "\f074";}
.fa-comment:before {content: "\f075";}
.fa-magnet:before {content: "\f076";}
.fa-chevron-up:before {content: "\f077";}
.fa-chevron-down:before {content: "\f078";}
.fa-retweet:before {content: "\f079";}
.fa-shopping-cart:before {content: "\f07a";}
.fa-folder:before {content: "\f07b";}
.fa-folder-open:before {content: "\f07c";}
.fa-arrows-v:before {content: "\f07d";}
.fa-arrows-h:before {content: "\f07e";}
.fa-bar-chart-o:before,
.fa-bar-chart:before {content: "\f080";}
.fa-twitter-square:before {content: "\f081";}
.fa-facebook-square:before {content: "\f082";}
.fa-camera-retro:before {content: "\f083";}
.fa-key:before {content: "\f084";}
.fa-gears:before,
.fa-cogs:before {content: "\f085";}
.fa-comments:before {content: "\f086";}
.fa-thumbs-o-up:before {content: "\f087";}
.fa-thumbs-o-down:before {content: "\f088";}
.fa-star-half:before {content: "\f089";}
.fa-heart-o:before {content: "\f08a";}
.fa-sign-out:before {content: "\f08b";}
.fa-linkedin-square:before {content: "\f08c";}
.fa-thumb-tack:before {content: "\f08d";}
.fa-external-link:before {content: "\f08e";}
.fa-sign-in:before {content: "\f090";}
.fa-trophy:before {content: "\f091";}
.fa-github-square:before {content: "\f092";}
.fa-upload:before {content: "\f093";}
.fa-lemon-o:before {content: "\f094";}
.fa-phone:before {content: "\f095";}
.fa-square-o:before {content: "\f096";}
.fa-bookmark-o:before {content: "\f097";}
.fa-phone-square:before {content: "\f098";}
.fa-twitter:before {content: "\f099";}
.fa-facebook:before {content: "\f09a";}
.fa-github:before {content: "\f09b";}
.fa-unlock:before {content: "\f09c";}
.fa-credit-card:before {content: "\f09d";}
.fa-rss:before {content: "\f09e";}
.fa-hdd-o:before {content: "\f0a0";}
.fa-bullhorn:before {content: "\f0a1";}
.fa-bell:before {content: "\f0f3";}
.fa-certificate:before {content: "\f0a3";}
.fa-hand-o-right:before {content: "\f0a4";}
.fa-hand-o-left:before {content: "\f0a5";}
.fa-hand-o-up:before {content: "\f0a6";}
.fa-hand-o-down:before {content: "\f0a7";}
.fa-arrow-circle-left:before {content: "\f0a8";}
.fa-arrow-circle-right:before {content: "\f0a9";}
.fa-arrow-circle-up:before {content: "\f0aa";}
.fa-arrow-circle-down:before {content: "\f0ab";}
.fa-globe:before {content: "\f0ac";}
.fa-wrench:before {content: "\f0ad";}
.fa-tasks:before {content: "\f0ae";}
.fa-filter:before {content: "\f0b0";}
.fa-briefcase:before {content: "\f0b1";}
.fa-arrows-alt:before {content: "\f0b2";}
.fa-group:before,
.fa-users:before {content: "\f0c0";}
.fa-chain:before,
.fa-link:before {content: "\f0c1";}
.fa-cloud:before {content: "\f0c2";}
.fa-flask:before {content: "\f0c3";}
.fa-cut:before,
.fa-scissors:before {content: "\f0c4";}
.fa-copy:before,
.fa-files-o:before {content: "\f0c5";}
.fa-paperclip:before {content: "\f0c6";}
.fa-save:before,
.fa-floppy-o:before {content: "\f0c7";}
.fa-square:before {content: "\f0c8";}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {content: "\f0c9";}
.fa-list-ul:before {content: "\f0ca";}
.fa-list-ol:before {content: "\f0cb";}
.fa-strikethrough:before {content: "\f0cc";}
.fa-underline:before {content: "\f0cd";}
.fa-table:before {content: "\f0ce";}
.fa-magic:before {content: "\f0d0";}
.fa-truck:before {content: "\f0d1";}
.fa-pinterest:before {content: "\f0d2";}
.fa-pinterest-square:before {content: "\f0d3";}
.fa-google-plus-square:before {content: "\f0d4";}
.fa-google-plus:before {content: "\f0d5";}
.fa-money:before {content: "\f0d6";}
.fa-caret-down:before {content: "\f0d7";}
.fa-caret-up:before {content: "\f0d8";}
.fa-caret-left:before {content: "\f0d9";}
.fa-caret-right:before {content: "\f0da";}
.fa-columns:before {content: "\f0db";}
.fa-unsorted:before,
.fa-sort:before {content: "\f0dc";}
.fa-sort-down:before,
.fa-sort-desc:before {content: "\f0dd";}
.fa-sort-up:before,
.fa-sort-asc:before {content: "\f0de";}
.fa-envelope:before {content: "\f0e0";}
.fa-linkedin:before {content: "\f0e1";}
.fa-rotate-left:before,
.fa-undo:before {content: "\f0e2";}
.fa-legal:before,
.fa-gavel:before {content: "\f0e3";}
.fa-dashboard:before,
.fa-tachometer:before {content: "\f0e4";}
.fa-comment-o:before {content: "\f0e5";}
.fa-comments-o:before {content: "\f0e6";}
.fa-flash:before,
.fa-bolt:before {content: "\f0e7";}
.fa-sitemap:before {content: "\f0e8";}
.fa-umbrella:before {content: "\f0e9";}
.fa-paste:before,
.fa-clipboard:before {content: "\f0ea";}
.fa-lightbulb-o:before {content: "\f0eb";}
.fa-exchange:before {content: "\f0ec";}
.fa-cloud-download:before {content: "\f0ed";}
.fa-cloud-upload:before {content: "\f0ee";}
.fa-user-md:before {content: "\f0f0";}
.fa-stethoscope:before {content: "\f0f1";}
.fa-suitcase:before {content: "\f0f2";}
.fa-bell-o:before {content: "\f0a2";}
.fa-coffee:before {content: "\f0f4";}
.fa-cutlery:before {content: "\f0f5";}
.fa-file-text-o:before {content: "\f0f6";}
.fa-building-o:before {content: "\f0f7";}
.fa-hospital-o:before {content: "\f0f8";}
.fa-ambulance:before {content: "\f0f9";}
.fa-medkit:before {content: "\f0fa";}
.fa-fighter-jet:before {content: "\f0fb";}
.fa-beer:before {content: "\f0fc";}
.fa-h-square:before {content: "\f0fd";}
.fa-plus-square:before {content: "\f0fe";}
.fa-angle-double-left:before {content: "\f100";}
.fa-angle-double-right:before {content: "\f101";}
.fa-angle-double-up:before {content: "\f102";}
.fa-angle-double-down:before {content: "\f103";}
.fa-angle-left:before {content: "\f104";}
.fa-angle-right:before {content: "\f105";}
.fa-angle-up:before {content: "\f106";}
.fa-angle-down:before {content: "\f107";}
.fa-desktop:before {content: "\f108";}
.fa-laptop:before {content: "\f109";}
.fa-tablet:before {content: "\f10a";}
.fa-mobile-phone:before,
.fa-mobile:before {content: "\f10b";}
.fa-circle-o:before {content: "\f10c";}
.fa-quote-left:before {content: "\f10d";}
.fa-quote-right:before {content: "\f10e";}
.fa-spinner:before {content: "\f110";}
.fa-circle:before {content: "\f111";}
.fa-mail-reply:before,
.fa-reply:before {content: "\f112";}
.fa-github-alt:before {content: "\f113";}
.fa-folder-o:before {content: "\f114";}
.fa-folder-open-o:before {content: "\f115";}
.fa-smile-o:before {content: "\f118";}
.fa-frown-o:before {content: "\f119";}
.fa-meh-o:before {content: "\f11a";}
.fa-gamepad:before {content: "\f11b";}
.fa-keyboard-o:before {content: "\f11c";}
.fa-flag-o:before {content: "\f11d";}
.fa-flag-checkered:before {content: "\f11e";}
.fa-terminal:before {content: "\f120";}
.fa-code:before {content: "\f121";}
.fa-mail-reply-all:before,
.fa-reply-all:before {content: "\f122";}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {content: "\f123";}
.fa-location-arrow:before {content: "\f124";}
.fa-crop:before {content: "\f125";}
.fa-code-fork:before {content: "\f126";}
.fa-unlink:before,
.fa-chain-broken:before {content: "\f127";}
.fa-question:before {content: "\f128";}
.fa-info:before {content: "\f129";}
.fa-exclamation:before {content: "\f12a";}
.fa-superscript:before {content: "\f12b";}
.fa-subscript:before {content: "\f12c";}
.fa-eraser:before {content: "\f12d";}
.fa-puzzle-piece:before {content: "\f12e";}
.fa-microphone:before {content: "\f130";}
.fa-microphone-slash:before {content: "\f131";}
.fa-shield:before {content: "\f132";}
.fa-calendar-o:before {content: "\f133";}
.fa-fire-extinguisher:before {content: "\f134";}
.fa-rocket:before {content: "\f135";}
.fa-maxcdn:before {content: "\f136";}
.fa-chevron-circle-left:before {content: "\f137";}
.fa-chevron-circle-right:before {content: "\f138";}
.fa-chevron-circle-up:before {content: "\f139";}
.fa-chevron-circle-down:before {content: "\f13a";}
.fa-html5:before {content: "\f13b";}
.fa-css3:before {content: "\f13c";}
.fa-anchor:before {content: "\f13d";}
.fa-unlock-alt:before {content: "\f13e";}
.fa-bullseye:before {content: "\f140";}
.fa-ellipsis-h:before {content: "\f141";}
.fa-ellipsis-v:before {content: "\f142";}
.fa-rss-square:before {content: "\f143";}
.fa-play-circle:before {content: "\f144";}
.fa-ticket:before {content: "\f145";}
.fa-minus-square:before {content: "\f146";}
.fa-minus-square-o:before {content: "\f147";}
.fa-level-up:before {content: "\f148";}
.fa-level-down:before {content: "\f149";}
.fa-check-square:before {content: "\f14a";}
.fa-pencil-square:before {content: "\f14b";}
.fa-external-link-square:before {content: "\f14c";}
.fa-share-square:before {content: "\f14d";}
.fa-compass:before {content: "\f14e";}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {content: "\f150";}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {content: "\f151";}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {content: "\f152";}
.fa-euro:before,
.fa-eur:before {content: "\f153";}
.fa-gbp:before {content: "\f154";}
.fa-dollar:before,
.fa-usd:before {content: "\f155";}
.fa-rupee:before,
.fa-inr:before {content: "\f156";}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {content: "\f157";}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {content: "\f158";}
.fa-won:before,
.fa-krw:before {content: "\f159";}
.fa-bitcoin:before,
.fa-btc:before {content: "\f15a";}
.fa-file:before {content: "\f15b";}
.fa-file-text:before {content: "\f15c";}
.fa-sort-alpha-asc:before {content: "\f15d";}
.fa-sort-alpha-desc:before {content: "\f15e";}
.fa-sort-amount-asc:before {content: "\f160";}
.fa-sort-amount-desc:before {content: "\f161";}
.fa-sort-numeric-asc:before {content: "\f162";}
.fa-sort-numeric-desc:before {content: "\f163";}
.fa-thumbs-up:before {content: "\f164";}
.fa-thumbs-down:before {content: "\f165";}
.fa-youtube-square:before {content: "\f166";}
.fa-youtube:before {content: "\f167";}
.fa-xing:before {content: "\f168";}
.fa-xing-square:before {content: "\f169";}
.fa-youtube-play:before {content: "\f16a";}
.fa-dropbox:before {content: "\f16b";}
.fa-stack-overflow:before {content: "\f16c";}
.fa-instagram:before {content: "\f16d";}
.fa-flickr:before {content: "\f16e";}
.fa-adn:before {content: "\f170";}
.fa-bitbucket:before {content: "\f171";}
.fa-bitbucket-square:before {content: "\f172";}
.fa-tumblr:before {content: "\f173";}
.fa-tumblr-square:before {content: "\f174";}
.fa-long-arrow-down:before {content: "\f175";}
.fa-long-arrow-up:before {content: "\f176";}
.fa-long-arrow-left:before {content: "\f177";}
.fa-long-arrow-right:before {content: "\f178";}
.fa-apple:before {content: "\f179";}
.fa-windows:before {content: "\f17a";}
.fa-android:before {content: "\f17b";}
.fa-linux:before {content: "\f17c";}
.fa-dribbble:before {content: "\f17d";}
.fa-skype:before {content: "\f17e";}
.fa-foursquare:before {content: "\f180";}
.fa-trello:before {content: "\f181";}
.fa-female:before {content: "\f182";}
.fa-male:before {content: "\f183";}
.fa-gittip:before {content: "\f184";}
.fa-sun-o:before {content: "\f185";}
.fa-moon-o:before {content: "\f186";}
.fa-archive:before {content: "\f187";}
.fa-bug:before {content: "\f188";}
.fa-vk:before {content: "\f189";}
.fa-weibo:before {content: "\f18a";}
.fa-renren:before {content: "\f18b";}
.fa-pagelines:before {content: "\f18c";}
.fa-stack-exchange:before {content: "\f18d";}
.fa-arrow-circle-o-right:before {content: "\f18e";}
.fa-arrow-circle-o-left:before {content: "\f190";}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {content: "\f191";}
.fa-dot-circle-o:before {content: "\f192";}
.fa-wheelchair:before {content: "\f193";}
.fa-vimeo-square:before {content: "\f194";}
.fa-turkish-lira:before,
.fa-try:before {content: "\f195";}
.fa-plus-square-o:before {content: "\f196";}
.fa-space-shuttle:before {content: "\f197";}
.fa-slack:before {content: "\f198";}
.fa-envelope-square:before {content: "\f199";}
.fa-wordpress:before {content: "\f19a";}
.fa-openid:before {content: "\f19b";}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {content: "\f19c";}
.fa-mortar-board:before,
.fa-graduation-cap:before {content: "\f19d";}
.fa-yahoo:before {content: "\f19e";}
.fa-google:before {content: "\f1a0";}
.fa-reddit:before {content: "\f1a1";}
.fa-reddit-square:before {content: "\f1a2";}
.fa-stumbleupon-circle:before {content: "\f1a3";}
.fa-stumbleupon:before {content: "\f1a4";}
.fa-delicious:before {content: "\f1a5";}
.fa-digg:before {content: "\f1a6";}
.fa-pied-piper:before {content: "\f1a7";}
.fa-pied-piper-alt:before {content: "\f1a8";}
.fa-drupal:before {content: "\f1a9";}
.fa-joomla:before {content: "\f1aa";}
.fa-language:before {content: "\f1ab";}
.fa-fax:before {content: "\f1ac";}
.fa-building:before {content: "\f1ad";}
.fa-child:before {content: "\f1ae";}
.fa-paw:before {content: "\f1b0";}
.fa-spoon:before {content: "\f1b1";}
.fa-cube:before {content: "\f1b2";}
.fa-cubes:before {content: "\f1b3";}
.fa-behance:before {content: "\f1b4";}
.fa-behance-square:before {content: "\f1b5";}
.fa-steam:before {content: "\f1b6";}
.fa-steam-square:before {content: "\f1b7";}
.fa-recycle:before {content: "\f1b8";}
.fa-automobile:before,
.fa-car:before {content: "\f1b9";}
.fa-cab:before,
.fa-taxi:before {content: "\f1ba";}
.fa-tree:before {content: "\f1bb";}
.fa-spotify:before {content: "\f1bc";}
.fa-deviantart:before {content: "\f1bd";}
.fa-soundcloud:before {content: "\f1be";}
.fa-database:before {content: "\f1c0";}
.fa-file-pdf-o:before {content: "\f1c1";}
.fa-file-word-o:before {content: "\f1c2";}
.fa-file-excel-o:before {content: "\f1c3";}
.fa-file-powerpoint-o:before {content: "\f1c4";}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {content: "\f1c5";}
.fa-file-zip-o:before,
.fa-file-archive-o:before {content: "\f1c6";}
.fa-file-sound-o:before,
.fa-file-audio-o:before {content: "\f1c7";}
.fa-file-movie-o:before,
.fa-file-video-o:before {content: "\f1c8";}
.fa-file-code-o:before {content: "\f1c9";}
.fa-vine:before {content: "\f1ca";}
.fa-codepen:before {content: "\f1cb";}
.fa-jsfiddle:before {content: "\f1cc";}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {content: "\f1cd";}
.fa-circle-o-notch:before {content: "\f1ce";}
.fa-ra:before,
.fa-rebel:before {content: "\f1d0";}
.fa-ge:before,
.fa-empire:before {content: "\f1d1";}
.fa-git-square:before {content: "\f1d2";}
.fa-git:before {content: "\f1d3";}
.fa-hacker-news:before {content: "\f1d4";}
.fa-tencent-weibo:before {content: "\f1d5";}
.fa-qq:before {content: "\f1d6";}
.fa-wechat:before,
.fa-weixin:before {content: "\f1d7";}
.fa-send:before,
.fa-paper-plane:before {content: "\f1d8";}
.fa-send-o:before,
.fa-paper-plane-o:before {content: "\f1d9";}
.fa-history:before {content: "\f1da";}
.fa-circle-thin:before {content: "\f1db";}
.fa-header:before {content: "\f1dc";}
.fa-paragraph:before {content: "\f1dd";}
.fa-sliders:before {content: "\f1de";}
.fa-share-alt:before {content: "\f1e0";}
.fa-share-alt-square:before {content: "\f1e1";}
.fa-bomb:before {content: "\f1e2";}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {content: "\f1e3";}
.fa-tty:before {content: "\f1e4";}
.fa-binoculars:before {content: "\f1e5";}
.fa-plug:before {content: "\f1e6";}
.fa-slideshare:before {content: "\f1e7";}
.fa-twitch:before {content: "\f1e8";}
.fa-yelp:before {content: "\f1e9";}
.fa-newspaper-o:before {content: "\f1ea";}
.fa-wifi:before {content: "\f1eb";}
.fa-calculator:before {content: "\f1ec";}
.fa-paypal:before {content: "\f1ed";}
.fa-google-wallet:before {content: "\f1ee";}
.fa-cc-visa:before {content: "\f1f0";}
.fa-cc-mastercard:before {content: "\f1f1";}
.fa-cc-discover:before {content: "\f1f2";}
.fa-cc-amex:before {content: "\f1f3";}
.fa-cc-paypal:before {content: "\f1f4";}
.fa-cc-stripe:before {content: "\f1f5";}
.fa-bell-slash:before {content: "\f1f6";}
.fa-bell-slash-o:before {content: "\f1f7";}
.fa-trash:before {content: "\f1f8";}
.fa-copyright:before {content: "\f1f9";}
.fa-at:before {content: "\f1fa";}
.fa-eyedropper:before {content: "\f1fb";}
.fa-paint-brush:before {content: "\f1fc";}
.fa-birthday-cake:before {content: "\f1fd";}
.fa-area-chart:before {content: "\f1fe";}
.fa-pie-chart:before {content: "\f200";}
.fa-line-chart:before {content: "\f201";}
.fa-lastfm:before {content: "\f202";}
.fa-lastfm-square:before {content: "\f203";}
.fa-toggle-off:before {content: "\f204";}
.fa-toggle-on:before {content: "\f205";}
.fa-bicycle:before {content: "\f206";}
.fa-bus:before {content: "\f207";}
.fa-ioxhost:before {content: "\f208";}
.fa-angellist:before {content: "\f209";}
.fa-cc:before {content: "\f20a";}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {content: "\f20b";}
.fa-meanpath:before {content: "\f20c";}
