.main-page-content table {
    margin-bottom: 48px;
}
.properties {
    max-width: 45rem;
    max-width: 85ch;
    border: 2px solid #005282;
    border-width: 3px;
    width: 100%;
}
.properties, table {
    border-collapse: collapse;
    margin-bottom: 24px;
}
.table {
    border: 1px solid #a4a4a4;
    font-size: .9rem;
    overflow-x: auto;
    width: 100%;
}

td, th {
    padding: 1%;
    vertical-align: top;
}

user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
body {
    font-family: arial,x-locale-body,sans-serif;
    letter-spacing: -.0027777778rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.75;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 2.5;
}
html {
    background-color: #fff;
    box-sizing: border-box;
    color: #1b1b1b;
}

*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}