.relative {width:100%; position:relative;}


/* shop stuff */
.shop-stuff {}
.shop-stuff-b {padding:10px;}
.shop-stuff .shk-image {}
.shop-stuff .shs-descr {height:180px; margin-bottom:5px; border-bottom:1px dashed #888;}
.shop-stuff .shs-price {height:40px;}
.shop-stuff .shs-price .shk-but {float: right; vertical-align: middle;}
.shop-stuff small {font-size:12px;}
.shop-stuff fieldset {padding:0; margin:0; border:0;}

.shs-tocart {margin:5px 0; padding:15px 0 0 0; border-top:1px dashed #888;  overflow: hidden;}
.shs-tocart div {margin:5px 0;}

.shk-price {font-weight:bold; font-size:1.3em;}
.shk-but {border:1px outset #888; margin:5px 5px 0 0; padding:5px; color: #fff;}
.shk-but:active {background: #A3A3A3; outline:none;}
.shk-but:hover {opacity: 0.8;}
.price-add {color:red; padding-left:3px; line-height:0;}
#stuffCount > input {
    height: 20px !important;
    margin: 0 2px;
}
/* cart block */
.shop-cart {width: auto; /* border: 1px solid #e3e3e3;padding: 10px; margin-bottom: 20px;*/}
.buttons .theme_button { min-width: 7em;}
.shop-cart-head {}
.shk-count {   width: 24px;border: 1px solid #eee;text-align: center;}
.shop-cart-body {padding:10px 0 14px;  }
.shop-cart table {border-collapse:collapse; margin:5px 0;}
.shop-cart td {border-bottom: 1px solid #DDDDDD; border-top: 1px solid #DDDDDD;  padding: 5px; vertical-align:middle;}
.shop-cart table small {font-size:11px; color:#595959;}
#butEmptyCart {text-decoration: none;} 
#cartEmpty { line-height: 16px; padding: 5px 0 0; text-align: left !important;}
#totalCart {margin:5px 0;}
.cart-order {margin:0px 0; text-align: center;}


/* helper box */
#stuffHelper {position: absolute; z-index:100; width:150px; padding:5px; background-color:#f5f5f5; border:1px solid #888; display:none;}
#stuffHelper div {/*padding:5px 0; */text-align: center;}

/* progressbar */
#shkLoading {width:30px; height:30px; position: absolute; z-index:100; background:url(img/ajax-loader.gif) center center no-repeat #fff; border:1px solid #888; display: none;}

/* materials */
.materials {padding:5px 0;}
.materials img {width:70px;}
.materials input {cursor: pointer;}

.shs-tocart form label,
.shs-count label {
 display: inline-block;
 position: relative;
}
.shs-tocart form label [name*='count'],
.shs-count label [name*='count'] {
  display: inline-block;
  float: left;
  margin-right: -22px;
  padding: 0.2em 0.3em;
  width: 100%;
}
.shs-tocart form label .field-arr,
.shs-count label .field-arr {
  display: block;
  float: right;
  height: 10px;
  margin: 1px;
  position: relative;
  vertical-align: middle;
  width: 17px;
}
.shs-tocart form label .field-arr.up,
.shs-count label .field-arr.up {
 background: url("img/arr_up.gif") no-repeat center center;
}
.shs-tocart form label .field-arr.down,
.shs-count label .field-arr.down {
 background: url("img/arr_down.gif") no-repeat center center;
}